<ons-page ng-controller="page1Controller">
    <ons-toolbar>
        <div class="center">Simple Navigation</div>
    </ons-toolbar>
    <div style="text-align: center; display: flex; flex-flow: column nowrap">
        <br>
        <ons-button modifier="light" ng-click="events.pushPage()">
            Push to Page2
        </ons-button>
        <ons-button modifier="light" ng-click="events.pushPageToTransclude()">
            Push to Transclude
        </ons-button>
        <ons-button modifier="light" ng-click="events.pushPageToTranscludeDynamic()">
            Push to Transclude Dynamic
        </ons-button>
        <div class="testcss" style="border: 1px solid; margin-top: 10px;"> test </div>
    </div>
</ons-page>